<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <link href="/dist/output.css" rel="stylesheet">
</head>
<body>
<script src="Navigation.js" type="text/babel"> </script>

<div id="root"></div>

<div class=" h-36 w-full sm:h-full min-h-screen text-center sm:text-center bg-green-500"> <p class="italic"> Paragraph </p></div>
</body>

